{% if post %}
    {% if app.user and post|is_starred %}
        <a href="{{ path('post_star_delete', {'id': post.id}) }}" title="{{ 'Unstar'|trans }}">
            <i class="icon-star"></i>
        </a>
    {% else %}
        <a href="{{ path('post_star_add', {'id': post.id}) }}" title="{{ 'Star'|trans }}">
        	<i class="icon-star-empty"></i>
        </a>
    {% endif %}
{% endif %}