parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     codekeepr
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_from_address: postmaster@codekeepr.no
    mailer_from_name:  Codekeepr

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    codekeepr.page.limit: 20