{% if group %}
    <ul class="nav nav-tabs nav-stacked">
    {% for tag in group %}
        <li{% if current_identifier == tag.identifier %} class="active"{% endif %}>
            <a href="{{ path('tag_show', {'identifier': tag.identifier}) }}"><span class="badge badge-info">{{ tag.post_count }}</span> <strong>{{ tag.name }}</strong></a>
        </li>
    {% endfor %}
    </ul>
{% endif %}