{% if collection %}
    <ul class="nav nav-list bs-docs-sidenav span12">
    {% for item in collection %}
        <li{% if current_identifier is defined and current_identifier == item.identifier %} class="active"{% endif %}>
        	<i class="icon-chevron-right"></i>
            <a href="{{ path('tag_show', {'identifier': item.identifier}) }}">
            	<span class="badge">{{ item.post_count }}</span> <strong>{{ item.name }}</strong>
           	</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
