{% if group %}
    <ul class="nav nav-list">
    {% for tag in group %}
        <li class="nav-header btn">
            <a href="{{ path('tag_show', {'identifier': tag.identifier}) }}">{{ tag.name }} ({{ tag.post_count }})</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}