{% extends "FriggKeeprBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Coming soon...
    </div>
{% endblock %}
