{% extends "FriggKeeprBundle::layout.html.twig" %}

{% block title %}{{ entity.name }}{% endblock %}

{% block body -%}
    {% if collection %}
        <div class="accordion" id="accordion2">
            {% for item in collection %}
                {{ include('FriggKeeprBundle:Post:accordion.html.twig', {'post': item, 'full': false}) }}
            {% endfor %}
            <div class="pull-right">
                {{ knp_pagination_render(collection) }}
            </div>
        </div>
    {% else %}
        <p class="text-info">No posts yet</p>
    {% endif %}
{% endblock %}
