{% if tags %}
    <ul class="nav nav-list bs-docs-sidenav span12">
    {% for item in tags %}
        <li>
        	<i class="icon-chevron-right"></i>
            <a href="{{ path('post_tag', {'identifier': item.identifier}) }}">
            	<span class="badge">{{ item.post_count }}</span> <strong>{{ item.name }}</strong>
           	</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
