<form id="main-search" method="GET" action="{{ path('search_index') }}">
	<input type="text" name="query" spellcheck="false" autocomplete="off" class="typeahead input-block-level search-query autocomplete" data-type="post"{% if query is defined %} value="{{ query }}"{% endif %}>
</form>
