<form id="main-search" method="GET" action="{{ path('search') }}">
	<input type="text" name="query" class="typeahead input-block-level search-query"{% if query is defined %} placeholder="{{ query }}"{% endif %}>
</form>
