<form id="main-search" method="GET" action="{{ path('search') }}">
	<input type="text" name="query" class="typeahead input-block-level search-query autocomplete" data-type="post"{% if query is defined %} value="{{ query }}"{% endif %}>
</form>
