<form id="main-search" method="GET" action="{{ path('search') }}">
	<input type="text" name="query" class="typeahead input-block-level search-query" placeholder="{% block search_placeholder %}{% endblock search_placeholder %}">	
</form>
