<div class="input-append" style="clear: both">
    <form method="GET" action="{{ path('search') }}">
        <input name="query" type="text" class="input-medium">
        <button class="btn" type="button"><i class="icon-search"></i></button>
    </form>
</div>