{% if post.private %}
    <a href="{{ path('post_edit', {'id': post.id}) }}" title="Status: Private" class="star">
        <i class="glyphicon glyphicon-lock star"></i>
    </a>
{% endif %}

<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ post.identifier }}">
    {{ post.topic }}
</a>
