/* Generic styles */

html, body {
    height: 100%;
}

legend {
    font-size: 14px;
    font-weight: bold;
}

h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 40px;
}

h1 a, h1 a:hover {
    color: #444;
    text-decoration: none;
}

.inline-block {
    display: inline-block;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.align-center {
    text-align: center;
}

a.muted:hover {
    text-decoration: none;
}

.well {
    padding: 5px !important;
}

.pagination {
    margin: 10px 0;
}

/* Overrides */

.chosen-container {
    margin-top: -10px;
}

/* Scaffolding styles */

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 35px;
}

.footer {
    position: relative;
    margin-top: -31px;
    height: 20px;
    clear: both;
    padding: 5px 0;
    background: inherit;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

.nav-wrap {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.nav-pills {
    margin: 0;
}

.nav-pills form {
    margin: 0 5px;
}

.nav-links {
    margin: 0 0 0 5px;
}

.nav-section {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    min-height: 65px;
}

.nav-section li {
    margin: 20px 0 0 0;
}

.nav-logo {
    margin: 10px 20px 0 0;
}

/* Sidebar */

.sidebar-nav .nav-list > li > a {
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#sidebar input.input-medium {
    margin-bottom: 5px;
}

.sidebar-nav-fixed {
    position: fixed;
    top: 60px;
    width: 21.97%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width: auto;
    }
}

/* Post */

.accordion-tags a:link,
.accordion-tags a:hover,
.accordion-tags a:visited {
    text-decoration: none;
}

.accordion-heading .accordion-toggle {
    display: inline-block;
    padding: 8px 4px;
}

.accordion-heading .accordion-tags {
    padding: 8px 12px 8px 0;
}

.accordion-heading .accordion-language {
    padding: 8px 0 8px 12px;
}

.accordion-credit {
    margin: -10px 15px 5px 15px;
}

pre.prettyprint {
    margin-bottom: 5px;
}

textarea.code {
    height: 400px;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 12px;
    line-height: 14px;
    padding: 10px;
    background: #333;
    color: #F0F0F0;
}

/* Tags */

ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tags div {
    display: inline-block;
}

#tag-cloud {
    width: 100%;
    height: 100%;
}

.btn-tag-delete {
    margin: -10px 5px 0 0;
}
