/* Generic styles */
body {
    padding-bottom: 70px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background: #FAFAFA;
    color: #B1B1B1;
}

h1 {
    font-size: 2em;
}

h1#logo {
    font-family: 'Lobster', Georgia, Times, serif;
    display: inline-block;
}

h1 a {
    color: #FFFFFF;
}

h1 a:hover,
h1 a:active,
h1 a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

pre {
    border: 1px solid #EEE;
    background: none;
}

#content {
    margin-top: 1em;
    margin-bottom: 1em;
}

.box {
    box-sizing: border-box;
    padding: 1em;
    background: #FFF;
    border: 1px solid #EEEEEE;
}

.box h2,
.box h3 {
    color: #666666;
    margin-top: 10px;
}

/* Topbar */

#topbar {
    background: #337ab7;
    border-bottom: 1px solid #2e6da4;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 1em;
}

#topbar a,
#topbar a:hover,
#topbar a:active,
#topbar a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

#topbar div {
    display: inline-block;
}

#topbar h1 {
    padding: 0;
    margin: 0;
}

#topbar .crumb {
    font-size: 1.5em;
    font-family: Roboto Bold, sans-serif;
}

#topbar .menu {
    display: inline-block;
    font-size: 1.5em;
    float: right;
}

#topbar .menu .menu-item {
    margin-left: 0.5em;
}

#topbar .menu .menu-item-title {
    display: none;
}

/* Accordion */

.accordion-group {
    margin: 0.5em 0;
    box-sizing: border-box;
    padding: 1em;
    background: #FFF;
    border: 1px solid #EEEEEE;
}

.accordion-group:hover {
    border: 1px solid #CCCCCC;
}

.accordion-group .accordion-toggle {
    display: inline-block;
    padding: 0;
    color: #666;
    font-weight: bold;
    font-size: 1.4em;
    width: 100%;
}

.accordion-group .accordion-toggle:hover,
.accordion-group .accordion-toggle:active,
.accordion-group .accordion-toggle:focus {
    text-decoration: none;
}

.accordion-group .accordion-content {
    line-height: 2em;
}

.accordion-group .accordion-author,
.accordion-group .accordion-author a {
    color: #B1B1B1;
}

.accordion-group .accordion-author a:hover {
    text-decoration: underline;
}

.accordion-group pre {
    margin: 0;
    padding: 0;
    border: none;
}

.accordion-group .accordion-body {
    margin: 1em 0;
}

.accordion-group .accordion-metadata a:hover,
.accordion-group .accordion-metadata a:active,
.accordion-group .accordion-metadata a:focus {
    text-decoration: none;
}

.accordion-group textarea.code {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
    background: #333;
    color: #F0F0F0;
}

.accordion-group textarea.code,
.accordion-group pre code {
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
    display: block;
    overflow: auto;
}

.accordion-tags a:link,
.accordion-tags a:hover,
.accordion-tags a:visited {
    text-decoration: none;
}

/* Post */

form#post-new ul {
    padding-left: 0;
}

form#post-new ul li {
    list-style: none;
}

form#post-new textarea.code {
    height: 300px;
    overflow: auto;
    padding: 0.5em;
    background: #23241f;
    color: #f8f8f2;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

form#post-new ul.tags li {
    margin-top: 5px;
}

form#post-new ul.tags input.autocomplete {
    color: #555555;
    margin-left: 5px;
    padding: 5px;
}

input#search {
    background: transparent;
    padding: 0.5em;
    font-size: 1.25em;
    border-radius: 0;
    color: #656565;
    height: 50px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #B1B1B1;
    box-shadow: none;
    margin-bottom: 1em;
}

a.star,
a.star:hover,
a.star:active,
a.star:focus {
    color: #666;
}

a.star:hover,
a.star:active,
a.star:focus {
    text-decoration: none;
}
