legend {
	font-size: 14px;
	font-weight: bold;
}

#sidebar input.input-medium {
	margin-bottom: 5px;
}

h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 40px;
}

h1 a, h1 a:hover {
	color: #444;
	text-decoration: none;
}

.inline-block {
    display: inline-block;
}

.nav-wrap {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.nav-pills {
    margin: 0;
}

.nav-section {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    min-height: 65px;
}

.nav-section li {
    margin: 20px 0 0 0;
}

.nav-logo {
    margin: 10px 20px 0 0;
}

.new-form textarea {
	width: 600px;
	height: 200px;
}

.sidebar-nav .nav-list > li > a {
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.accordion-tags a:link,
.accordion-tags a:hover,
.accordion-tags a:visited {
    text-decoration: none;
}

.accordion-heading .accordion-toggle {
    display: inline-block;
    padding: 8px 4px;
}

.accordion-heading .accordion-tags {
    padding: 8px 12px 8px 0;
}

.accordion-heading .accordion-language {
    padding: 8px 0 8px 12px;
}

pre.prettyprint {
	margin-bottom: 5px;
}

.well {
	padding: 5px !important;
}

.sidebar-nav-fixed {
     position:fixed;
     top:60px;
     width:21.97%;
 }

 @media (max-width: 767px) {
     .sidebar-nav-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
 }

 .accordion-credit {
    margin: -10px 15px 5px 0;
 }