
#fos_comment_thread .alert {
    margin: 0.5em 0 0 0;
}

#fos_comment_thread .fos_comment_comment_metas {
    background: transparent;
    border: 1px solid rgba(0,0,0,0.15);
    margin: 1.5em 0 0.5em 0;
    padding: 0.75em 10px;
}

#fos_comment_thread .fos_comment_comment_show {
    color: #444;
}

#fos_comment_thread .fos_comment_comment_form_holder {
    margin-top: 20px;
}

#fos_comment_thread .fos_comment_comment_form_holder textarea.full-border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
}

#fos_comment_thread .fos_comment_comment_replies {
    margin-left: 2em;
}

#fos_comment_thread .fos_comment_submit input {
    font-size: 1em;
}

#fos_comment_thread .fos_comment_comment_voting {
    margin-top: -4px;
}

#fos_comment_thread .fos_comment_comment_body {
    margin-left: 0.5em;
}
