{% if posts.getTotalItemCount %}
    <div class="accordion" id="accordion2">
        {% for post in posts %}
            {{ include('FriggKeeprBundle:Post:accordion.html.twig', {'post': post, 'view': 'line'}) }}
        {% endfor %}
        <div class="pull-right">

        </div>
    </div>
{% endif %}
