{% extends "FriggKeeprBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <input id="search" type="text" class="form-control autocomplete" placeholder="Search">
    <div id="posts">
        {% include 'FriggKeeprBundle:Post:list.html.twig' %}
    </div>
{% endblock %}
