{% extends "FriggKeeprBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <input id="search" type="text" class="form-control autocomplete" placeholder="Search">
    <div id="posts">
        {% for post in posts %}
            {{ include('FriggKeeprBundle:Post:accordion.html.twig', {'post': post, 'view': 'line'}) }}
        {% endfor %}
        <div class="pull-right">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
